@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
}
iframe {
    width: 100%;
    height: 100%;
}

.container {
    background: #17191D;
    width: 100%;
    min-height: 100vh;
}
.conten {
    padding: 3rem 9% ;
    background: linear-gradient(90deg,rgb(34, 36, 41), rgba(34, 36, 41, 0.5)), url("https://lh3.googleusercontent.com/-kNBSALFtJ8VQA-3_jRGeR7PI7nEwMTqx1RBL2_2Q_lcblG4ymRJBYkx2Lf5rzvZcWm3uPtFS8Swx9KmEZbpS7Q2XqPJt6M1_xuqnU-CYjZQerogZQlO21i-9qXU4Ym21FwgiSOJ8jkpwvcW2-5yOpDEfrqIvZpzbDYT98jkv4LlqZ22igV8NsKExltbHO6boAPeX58zNfi-HCsLmb6Kp7YcWNZKgmr65XJWkFrFWb3n6wyWXFvXO0YxAk24lTuc4XmF6t1c-f7yrc1aujjdI70Wde4vPSnUeivJch7LzMxidsi_XMIr8cmgBFw75ABRob35HQUscd9ziJlQtrV1BDeeIe1YupHHktc_IXFKK6V3J__xYaiQPUDta-jaISaaIVv_UiiDfx6tyKFwGUGlYVVkqAVaxKTwbaVut_CN-OS0W36465mVhCwBBltF8jnny4ON-Ib6B9oAept005e5guVx_UFeonvboSSTF2xHc23E3TjdFjnoQp3TnUzusFLENtm0MjkIPfH0swdtyGaE3mpvg7zzIhO5YSMC63TYFauCinVtZeZpXK2W46E7ihm0lcZ-DV2Uq3lSeh1M2PRcZMv1lFxQxfgFftGCL2WhHHpz6uIjX4Shn0FUEk2pU2LjuDfRYFWiaM5gBQxB89JOLrVEVBMzZnIAZrdA4ZE0Y6XueFXPj8SMkMsX9GO909cR1vkWTJ1PIjxVBVlC4pxxBBRmhkM_DPqDAGtX-51C5F79w759sgcO5cheu_HCug=w660-h440-no?authuser=0");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.conten h1 {
    font-weight: 400;
    font-size: 2.3rem;
    color: #e90000;
}
.conten p {
    max-width: 45rem;
    color: #d8d8d8;
    font-size: 1rem;
    margin: .5rem 0;
    letter-spacing: .02rem;
    font-weight: 300;    
}
.btn {
    display: inline-block;
    background: #ff0000;
    border-radius: .2rem;
    padding: .4rem 3rem;
    color: #d8d8d8;
    margin-top: .5rem;
    font-size: 1rem;
    box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.2);
}
.btn:hover {
    background: #18227a;
}

.title1 {
    padding: 1rem 9% ;
    color: #d8d8d8;
    font-weight: 300;
    font-size: 1.5rem;}
.video{ 
    border: 0.12rem solid #d8d8d8;
}
.contvideos {
    padding: 0 9% ;
    margin: auto;    
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
}
.grupo2 {
    background: #222429;
}